#### Code introspection

# Fundametal lesson
- data types
- Data structures
  - List and Tuple
  - Set
  - Dictionary
- print
- string
- datetime

## data types

In [1]:
integer  = 10
float_num = 1234.567
string    = 'Hello, Thailand!'
boolean  = False

list_names   = ['Ant', 'Bat', 'Cat']
tuple_point   = (2, 3)                          # immutable list
set_unique  = {1, 2, 2, 4}                      # list but not allowed duplicate and unindexed
dict_data    = {'name': 'Ant', 'age': 19}       # key -value

# or try to define type when declare variable
integer:      int = 10
float_num:    float = 1234.567
string:       str = 'Hello, World!'
boolean:      bool = False

list_names:   list= ['Ant', 'Bat', 'Cat']
tuple_point:  tuple = (2, 3)
set_unique:   set = {1, 2, 2, 4}
dict_data:    dict = {'name': 'Ant', 'age': 19}

In [2]:
# how to check type
print(type(list_names))
print(isinstance(set_unique, int))

<class 'list'>
False

## Data Structures

> Built-in data structures

<table>
  <tr>
    <th>Collection</th>
    <th>Order</th>
    <th>Mutable</th>
    <th>Indexed</th>
    <th>Duplicated</th>    
    <th>Example</th>    
  </tr>
  <tr>
    <td>8.1 List</td>
    <td>Order</td>
    <td>Mutable</td>
    <td>Indexed</td>
    <td>Duplicated</td>
    <td>fruits = ['apple', 'banana', 'cherry']</td>
  </tr>
  <tr>
    <td>8.2 Tuple</td>
    <td>Order</td>
    <td>Immutable</td>
    <td>Indexed</td>
    <td>Duplicated</td>
    <td>fruits = ('apple', 'banana', 'cherry')</td>
  </tr>  
  <tr>
    <td>8.3 Set</td>
    <td>UnOrder</td>
    <td>Immutable</td>
    <td>UnIndexed</td>
    <td>No Duplicated</td>
    <td>fruits = {'apple', 'banana', 'cherry'}</td>
  </tr>    
  <tr>
    <td>8.4 Dictionary</td>
    <td>Order</td>
    <td>Mutable</td>
    <td>Key-Valued</td>
    <td>No Key Duplicated</td>
    <td>fruits = {'apple': 5, 'banana': 12, 'cherry': 20}</td>
  </tr>    
</table>

### List and Tuple

In [3]:
# list
items = [5, 4, 3, 2]
items.append(1)
items.remove(3)
popped_items = items.pop()

print(items.sort())
print(items.reverse())

print(items)
print(popped_items)

# sorted() is compatible with set(), tuple and return to list
# but using sorted() with sentence can be slightly annoying because of whitespace, so use split() and ' '.join() to help
print(sorted([3,2,1]), sorted((3,2,1)), sorted(set([3,2,1])))

None
None
[5, 4, 2]
1
[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [4]:
items = [[[1,2,3], [4,5,6]], [["1", "2", "3"], ["4","5","6"]]]

print(items[0])
print("----------------")
print(items[0][0])
print(items[0][1])
print(items[1][0])
print(items[1][1])
print("----------------")

print(items[:][0])
print(items[0][1:3])
print(items[1][0:2])

[[1, 2, 3], [4, 5, 6]]
----------------
[1, 2, 3]
[4, 5, 6]
['1', '2', '3']
['4', '5', '6']
----------------
[[1, 2, 3], [4, 5, 6]]
[[4, 5, 6]]
[['1', '2', '3'], ['4', '5', '6']]

In [5]:
# tuple
items = ('apple', 'banana', 'cherry')

print(items[-1])
print(items[-2])
print(items[-3])

cherry
banana
apple

### Set

In [6]:
set1= {"ant", "bird", "cat", "bird"}
set2 = set(["bird", "cat", "dog", "cat"])

set1.add(20)
set1.remove(20)
print(set1)

if set1 & set2 == set1.intersection(set2):
    print("intersected")

if set1 | set2 == set1.union(set2):
    print("unioned")

print(set1.difference(set2), set2.difference(set1))
print(set1.symmetric_difference(set2), set2.symmetric_difference(set1))

{'cat', 'bird', 'ant'}
intersected
unioned
{'ant'} {'dog'}
{'dog', 'ant'} {'dog', 'ant'}

### Dictionary

In [7]:
items = {'a':1, 'b':3, 'c': 5, 'd': 7, 'e': {'f': {'g': 9}}}

print(items.keys())
print(items.values())
print(items.items())

print(items.get('e').get('f', 'g'))

del items["b"]
print(items)
items.pop("c")
print(items)

dict_keys(['a', 'b', 'c', 'd', 'e'])
dict_values([1, 3, 5, 7, {'f': {'g': 9}}])
dict_items([('a', 1), ('b', 3), ('c', 5), ('d', 7), ('e', {'f': {'g': 9}})])
{'g': 9}
{'a': 1, 'c': 5, 'd': 7, 'e': {'f': {'g': 9}}}
{'a': 1, 'd': 7, 'e': {'f': {'g': 9}}}

## Print
to show text and f string to show variables

In [8]:
print("Hello, World")
print("Hello", "World!")
print("Hi\nThailand", end="\t")
print('The Land of SMILE')


print("%s is string, %d is integer" %(string, integer))
# f string
print(f"{string}:")
print(f"{string:20}:")

print(f"weight = {float_num:.0f}")
print(f"weight = {float_num:,f}")
print(f"weight = {float_num:,.0f}")

Hello, World
Hello World!
Hi
Thailand	The Land of SMILE
Hello, World! is string, 10 is integer
Hello, World!:
Hello, World!       :
weight = 1235
weight = 1,234.567000
weight = 1,235

## string

In [9]:
print("x" + "y")
print("x" * 15)

xy
xxxxxxxxxxxxxxx

In [10]:
string = "   I Like U   Wait a minite         "

print(string.replace('Like', '?') )
print(string.lstrip() )
print(string.rstrip() )
print(string.strip() )

print(string.split())

   I ? U   Wait a minite
I Like U   Wait a minite
   I Like U   Wait a minite
I Like U   Wait a minite
['I', 'Like', 'U', 'Wait', 'a', 'minite']

In [11]:
items = ['i', 'lOve', 'phaYao']

string = " ".join(items)
print(string)
print(string.lower())
print(string.upper())
print(string.capitalize())
print(string.title())

i lOve phaYao
i love phayao
I LOVE PHAYAO
I love phayao
I Love Phayao

In [12]:
import string

if ' a' in string.whitespace:
    print(1)
elif '2s' in string.digits:
    print(2)
elif '/e' in string.punctuation:
    print(3)
elif 'a3' in string.ascii_letters:
    print(4)

In [13]:
input1 = float(input("Midterm score: ")  )
input2   = float(input("Final score: ") )

items = input1 + input2
print(f"Your score: {items}")

Midterm score: 5
Final score: 5
Your score: 10.0

## datetime

In [14]:
from datetime import datetime

now = datetime.now()

print(now)
print("Date:", now.strftime("%d %m %y"))
print("Date:", now.strftime("%d %b %Y"))
print("Date:", now.strftime("%d %B %Y"))
print()
print("Time:", now.strftime("%H %M %S"))

2024-12-07 10:59:13.972481
Date: 07 12 24
Date: 07 Dec 2024
Date: 07 December 2024

Time: 10 59 13

In [15]:
import datetime
import time

#date_in_ISOFormat
now = datetime.date.fromtimestamp(time.time())
print(now.isoformat())

#DateTime_in_ISOFormat
now = datetime.datetime.now()
print(now.isoformat())

from datetime import timedelta
print(now + timedelta(days=1))

2024-12-07
2024-12-07T10:59:13.987022
2024-12-08 10:59:13.987022

## Basic Operators

https://www.w3schools.com/python/python_operators.asp

### Arithmetic operators

- \+
Addition
x + y
- \-
Subtraction
x - y
- \*
Multiplication
x * y
- /
Division
x / y
- %
Modulus
x % y
- \**
Exponentiation
x ** y
- //
Floor division
x // y

In [16]:
print( 25//4)

6

### Assignment operators

- = (assignment)
- all arithmetric operators can be paired with =
example: x += 1 -> x = x + 1
- others are below

In [17]:
x = 12

#x &= 7       # and
#x |= 3       # or
#x ^= 3       # xor
#x >>= 3      # shift bits to the right three bits
#x <<= 3      # shift bits to the left three bits

print(x)

12

In [18]:
print(x := 3)

3

### Comparison operators

==, !=, <, >, <=. >=

### Logical operators

and, or, not

### Identity operators

In [19]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

x = x.append(4)

print(x is not z)
print(y == z)
print(x != z)
print(y is z)

True
False
True
False

### Membership operators

In [20]:
items = ['apple', 'banana', 'cherry']

print('banana' in items)
print('orange' not in items)

True
True

### Bitwise operators

& 	  AND    
\|	  OR
^	    XOR
~	    NOT
<<	  Zero fill left shift
\>>	  Signed right shift

## Loops

In [21]:
for _ in range(0,2):
  print("hello")
  break

i = 0
while i < 3 :
  print(i)
  i += 1

hello
0
1
2

In [22]:
i = [x **2 if x%2==0 else x for x in range(0, 7)]
i

[0, 1, 4, 3, 16, 5, 36]

In [23]:
i = [x**3 for x in range(0, 7) if x%2 == 0]
i

[0, 8, 64, 216]

### Enumerate

In [24]:
items = ['a', 'b', 'c', 'd']
for index, value in enumerate(items):
    print(index, value)

# create zip to test enumerate
first = ["a", "b", "c"]
second = ("d", "e", "f")
third = "ghi"
pairs = [('a', 'd'), ('b', 'e'), ('c', 'f')]
first_new, second_new = zip(*pairs)

# is check instance-level, == check value-level
print(second is second_new)
print(second == second_new)


# strict False=Default, tuple and list are okay
#print(tuple(zip(first, second, third, strict=True)))

for index, (one, two, three) in enumerate(zip(first, second, third)):
    print(index, one, two, three)

0 a
1 b
2 c
3 d
False
True
0 a d g
1 b e h
2 c f i

In [25]:
# itertools
import itertools
for index, one, two, three in zip(itertools.count(), first, second, third):
    print(index, one, two, three)

0 a d g
1 b e h
2 c f i

In [26]:
# zip from above
header = ['name', 'last_name', 'age', 'job']
row = ['John', 'Doe', '45', 'Python Developer']
table = dict(zip(header, row))
print(type(table))
print(table)
table.update(zip(['job'], ['Python Consultant']))
print(table)

table_l = list(zip(header, row))
print(table_l)

<class 'dict'>
{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Developer'}
{'name': 'John', 'last_name': 'Doe', 'age': '45', 'job': 'Python Consultant'}
[('name', 'John'), ('last_name', 'Doe'), ('age', '45'), ('job', 'Python Developer')]

### Generator

In [27]:
# generator

# used for iteration
gen = (i**2 for i in range(5))
for i in gen:
    print(i)

gen = (i**2 for i in range(3))
print(next(gen))
print(next(gen))
print(next(gen))


def test_yield():
    # 'yield' store data in memory, not just return value and force to stop the remaining lines in the function like 'return'
    yield('Hi')
    yield(12)
i = test_yield()
print(next(i))
print(next(i))

for i in test_yield():
  print(i)

0
1
4
9
16
0
1
4
Hi
12
Hi
12

# Lesson

- Files
  - JSON
- Error handling
- Functions
  - args, kwargs
  - Decorator
  - Math functions
- Class
  - Enum
- interesting packages

## Files

In [28]:
# `with` statement can do more than just open, close automatically [more in here https://realpython.com/python-with-statement/]
with open("test.txt", "a") as file:
    file.write("\n???")
with open("test.txt", "r") as file:
    content1 = file.readline(1)
    content2 = file.readlines()
    print(content1, content2)

 ['???']

### JSON

In [29]:
import json

d = {
    "a": { "x": 2, "xx": 3, "xxx": 4 },
    "b": { "x": 7, "xx": 8, "xxx": 9 },
    "c": { "x": 6, "xx": 7, "xxx": 8 }
}
json_d = json.dumps(d, indent=2)        # serializing json
json.dump(d, open("test.json", "w") )   # write dictionary to json file

with open("test.json", "r") as file:
    # cannot read string with load because it reads only json type (serialization)
    raw = json.load(file)
    print(raw)

print(json.loads('{"a": "loads"}'))


import pandas as pd
df = pd.read_json("test.json", orient="records")
df = pd.read_json("test.json", orient="index")
## what if have to create dataframe from list of dict, these functions can help to extract data: dict.get(), df.columns = ["",""], df.set_index("")

{'a': {'x': 2, 'xx': 3, 'xxx': 4}, 'b': {'x': 7, 'xx': 8, 'xxx': 9}, 'c': {'x': 6, 'xx': 7, 'xxx': 8}}
{'a': 'loads'}

API

In [30]:
import requests
# Making a get request
response = requests.get('https://api.github.com/')
# print response
print(response)
# print check if an error has occurred
print(response.raise_for_status())

<Response [200]>
None

## Error handling

In [31]:
try:
    f = open('test.txt')
    print(f.read())
except Exception as e:
    print(e)
finally:
    f.close()

???

## Functions

In [32]:
def example(input1:int, input2:float) -> str:                           #typing
    """this function will return input as string"""     #docstring
    return f"{input1} and {input2}"

In [33]:
"""lambda and list comprehension"""
func1 = lambda x, y: (x +y) * (x - y)

func2 = lambda x: [x **2 if x%2==0 else x for x in range(x+3)]

print(func1(5, 3))
print(func2(6))

16
[0, 1, 4, 3, 16, 5, 36, 7, 64]

In [34]:
"""map"""
items = ['alfred', 'tabitha', 'william', 'arla']
pets = list(map(str.capitalize, items))       #this function needs one parameter
print(pets)
areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344]
result = list(map(round, areas, range(1, 6)))    #this function needs two parameter
print(result)

"""filter"""
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk", "tenet")
palindromes = list(filter(lambda word: word == word[::-1], dromes))
print(palindromes)

['Alfred', 'Tabitha', 'William', 'Arla']
[3.6, 5.58, 4.009, 56.2424, 9.01344]
['madam', 'anutforajaroftuna', 'tenet']

create a python file named "modules.py"

```
def plus(a,b):
  return a+b
```

In [35]:
"""call from other directory"""
import modules as m
m.plus(2,3)

5

### \*args and **kwargs

In [36]:
# learn more about positional parameter (*, /)
# *args and **kwargs allow you to pass multiple arguments or keyword arguments to a function.
# **kwds is optional choice for the function
def test_func(a, b, *c):
    print(list(c))
test_func(1, 2, 3, 4 ,5)
def test_func(a, b, **option):
    if option.get("c") == 0:
        print(a+a)
    elif option.get('c') == 1:
        print(b+b)
    else:
        print(a+b)
test_func('op', 'tion')
test_func('op', 'tion', c=1)

def test_func(a, *b):
    print(type(b))  # it's tuple
test_func(1,2,3)
def test_func(a, **b):
    print(type(b), b.keys(), b.values()) # it's dict
test_func(a=1,b=2)

[3, 4, 5]
option
tiontion
<class 'tuple'>
<class 'dict'> dict_keys(['b']) dict_values([2])

### Decorator

In [37]:
def repeater(old_function):                 #function as parameter here
    # See learnpython.org/en/Multiple%20Function%20Arguments for how *args and **kwds works
    # not care about argument of old function as using *args, **kwargs
    def new_function(*args, **kwds):
        old_function(*args, **kwds)
        old_function(*args, **kwds)
    return new_function
@repeater
def multiply(num1, num2):
    print(num1 * num2)
multiply(5, 3)


def multiply(multiplier):                   #variable from decorator's parameter
    def multiply_generator(old_function):   #function as parameter here
        def new_function(*args, **kwds):
            return multiplier * old_function(*args, **kwds)
        return new_function
    return multiply_generator # it returns the new generator

@multiply(4) # multiply is not a generator, but multiply(3) is
def return_num(num): #as old function
    return num-1
# Now return_num is decorated and reassigned into itself
return_num(6) # should return 15

15
15

20

### Math functions

In [38]:
print( sum([1,2]) )
print( min([1,2,3]) )
print( max([1,2,3]) )
print( abs(-5) )
print( round(3.14159, 2) )

3
1
3
5
3.14

In [39]:
import math as m

print( m.floor(3.14159))
print( m.ceil(3.14159))

3
4

## Class

In [40]:
help(print)                            #display the documentation of modules
print(dir(str))                        #list the names of the attributes and methods of an object

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [41]:
class Dog:
  """details for dog"""
  def __init__(self, colour="white"):
      self.colour = colour

  def showAttribute(self):
      return self.colour

  def bark(self):
      print("woof")

  def __repr__(self) -> str:
      return f'MyClass("{self.colour}")'
# inheritance
class Puddle(Dog):
  """subclass of dog"""
  def __init__(self, super, fur="square"):
      self.fur = fur

  def bark():
      print("box")

boo = Dog()

print(hasattr(Dog, 'colour'))               #check if an object has a specific attribute
print(id(boo))                              #returns the unique identifier for an object
print(type(boo))                            #return data type of object
print(Dog())                                #returns a string representation of an object
print(callable(boo.bark()))                 #check if an object appears callable
print(issubclass(Puddle, Dog))              #check if a class is a subclass of another class
print(isinstance(Dog(), Dog))               #check if an object is an instance of a specified class or a tuple of classes
print(Dog.__doc__)                          #access the documentation string (docstring) of an object
print(__name__)
#When a Python file is run directly, the __name__ variable is set to "__main__".
#When a Python file is imported as a module, the __name__ variable is set to the name of the module.

False
137734388011968
<class '__main__.Dog'>
MyClass("white")
woof
False
True
True
details for dog
__main__

### Enum

In [42]:
"""enum"""
from enum import Enum
class HTTPStatusCode(Enum):
    OK = 200
    CREATED = 201
    BAD_REQUEST = 400
    NOT_FOUND = 404
    SERVER_ERROR = 500

for i in (HTTPStatusCode):
    if 200 == i.value:
        print(i.name, i)

OK HTTPStatusCode.OK

## Interesting Packages

#### dataclass

In [43]:
# for pros and cons, can see more here: https://www.startdataengineering.com/post/code-patterns/#python-helpers
from dataclasses import asdict, dataclass
@dataclass
class RedditPostData:
    """Dataclass to hold reddit post data.
    Args:
        title (str): Title of the reddit post.
        score (int): Score of the reddit post.
        url (str): URL of the reddit post.
        comms_num (int): Number of comments on the reddit post.
        created (str): Datetime (string repr) of when the reddit
             post was created.
    """
    title: str
    score: int
    url: str
    comms_num: int
    created: str
    text: str
@dataclass
class TwitterTweetData:
    """Dataclass to hold twitter post data.
    Args:
        text (str): Text of the twitter post.
    """
    text: str
@dataclass
class SocialMediaData:
    """Dataclass to hold social media data.
    Args:
        id (str): ID of the social media post.
        text (str): Text of the social media post.
    """
    id: str
    source: str
    social_data: RedditPostData | TwitterTweetData # social_data can be one of the Reddit or Twitter data types
a = TwitterTweetData(text="Hello guys")
b = SocialMediaData(id="abc123", source="yagoogoo", social_data=a)
print(b.social_data)

TwitterTweetData(text='Hello guys')

#### reduce

In [44]:
"""reduce"""
from functools import reduce
items = ['a', 'b', 'c', 'd']
def custom_sum(a, b):
    return a + b
result = reduce(custom_sum, items, 'e')
print(result)

eabcd

#### Counter

In [45]:
from collections import Counter
print(Counter(['a','b','a','c','d','c']))

Counter({'a': 2, 'c': 2, 'b': 1, 'd': 1})

#### partial
(to lock some parameter but still editable)

In [46]:
from functools import partial

def plus(x,y):
  return x+y

func = partial(plus, 2)
print(func(3))

5

#### typing

In [47]:
# typing
from typing import Callable
def test_func(func: Callable[[int, int], int], x: int, y: int) -> int:
    return func(x, y)
def add(a: int, b: int) -> int:
    return a + b
print( test_func(add, 2, 3) )

5

#### contextmanagaer

In [48]:
# contextmanagaer
from contextlib import contextmanager
@contextmanager
def open_file(file, mode):
    f = open(file, mode)
    try:
        yield f
    finally:
        # if it's database connection, can put commit and close here
        f.close()
with open_file('test.txt', 'r') as f:
    # if it's database connection, 'execute' can be put here
    a = f.readlines()
    print(a)

['\n', '???']

#### random

In [49]:
import random

for _ in range(0,5):
  print(random.randint(0,3))

0
3
0
3
2

#### regualr expression

In [50]:
import re
def test_email(your_pattern):
    pattern = re.compile(your_pattern)
    emails = ["john@example.com", "python-list@python.org", "wha.t.`1an?ug{}ly@email.com"]
    for email in emails:
        if not re.match(pattern, email):
            print("You failed to match %s" % (email))
        elif not your_pattern:
            print("Forgot to enter a pattern!")
        else:
            print("Pass")
pattern = r"^[\w][\w\W]*@[\w]+.[\w]{1,9}"
test_email(pattern)

Pass
Pass
Pass

#### Logging

In [51]:
import logging

logging.basicConfig(format="%(levelname)s:%(message)s", level=logging.DEBUG)

path = "path"
ke = "key error"

# different types of log
logging.debug(f"variable has value {path}")
logging.info("Data has been transformed and will now be loaded")
logging.warning("Unexpected number of rows detected")
logging.error(f"{ke} arose in execution")

WARNING:root:Unexpected number of rows detected
ERROR:root:key error arose in execution